.products {
  border: 1px solid #000;
  border-radius: 4px;
  margin-top: 15px;
}

.shop-box-inner {
  margin: 50px 0;
}

.products-icons {
  font-size: 18px;
  padding-left: 25px;
}

.products-icons.text-right {
  padding-right: 25px;
  font-size: 24px;
}

.products h3 {
  font-size: 20px;
  padding-top: 10px;
}

.products .cart {
  background-color: #7d26cd;
  color: #fff;
  padding: 10px 15px;
  border-radius: 4px;
  line-height: 50px;
}

.products-image {
  background-size: cover;
  background-position: center;
  width: 100%;
  display: inline-block;
  height: 200px;
}

.card-link {
  display: block;
}
.price {
  font-size: 18px;
}

.favorites {
  cursor: pointer;
}
