.user-modal {
  width: 350px;
  height: 500px;
  overflow: hidden;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  margin: 80px auto;
  position: relative;
}

#chk {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

.user-modal label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.user-modal input {
  width: 60%;
  height: 34px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.user-modal button,
.user-modal a {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
  line-height: 30px;
}
.user-modal button:hover {
  background: #6d44b8;
}

.user-modal .login {
  height: 460px;
  border-radius: 60% / 10%;
  transition: 0.8s ease-in-out;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 10000;
  background-color: rgb(31 27 70 / 40%);
}

.user-popup {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#chk:checked ~ .login {
  transform: translateY(-500px);
}
#chk:checked ~ .login label {
  transform: scale(1);
}
#chk:checked ~ .signup label {
  transform: scale(0.6);
}
