.product {
  padding: 20px 50px;
  display: flex;
  gap: 50px;
}

.left {
  flex: 1;
  display: flex;
  gap: 20px;
}
.mainImage img {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  flex: 5;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.price {
  font-size: 30px;
  color: #7d26cd;
  font-weight: 500;
}

.right p {
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}
.quantity-button {
  transition-duration: 0.4s;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.quantity-button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.add {
  transition-duration: 0.4s;
  width: 250px;
  padding: 10px;
  background-color: #7d26cd;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  border: none;
  font-weight: 500;
  border-radius: 8px;
}
.add:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.wishlist {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  color: #7d26cd;
}
